<div class="author-info">
    <h4>Azhar Khan</h4>
    <p>Perpetual Dreamer, Hacker-in-Training, Connoisseur of Beautiful Music</p>
    <img class="author-photo" src="/img/azhar-casual-square.png" alt="azhar-khan-photo">
</div>

<ul class="side-nav">
  <li><a href="/">About</a></li>
  <li class="active"><a href="#">Blog</a></li>
  <li class="divider"></li>
</ul>

<div class="small-12 large-9 columns">
    <ul class="small-block-grid-3 social-icons">
        <li><a href="http://www.twitter.com/azmanian_devil"><i class="icon-twitter"></i></a></li>
        <li><a href="http://www.azharkhan.tumblr.com"><i class="icon-tumblr"></i></a></li>
        <li><a href="http://www.github.com/azharkhan"><i class="icon-github"></i></a></li>
    </ul>
</div>